*
{margin:0;
padding: 0;}

body
 {

    background-image: url(../images/brickwall_@2X.png);
    font-family: 'Georgia', Times, Times New Roman, serif;      
 }
 #container
 {
    
    width:980px;
    margin:0 auto;
 }
 #head_container::after,
 nav>ul ::after,
 footer::after
 {
    content: " ";
    display: block;
    clear: both;
 }
 
 #head_container
 {
    background-color: #fff;
    margin:0 auto;
 }
 header,nav,#icons,.righth1
 {
    text-align: center;
 }
 #logo
 {
    float: left;
    color:#ffffff;
    font-size: 30px;
    background-color:#4aaaa5;
    width: 25%; 
    height: 40px;
    padding: 18px;
    margin-left: 70px;
}
 nav
 {
    float: right;
    margin-right: 60px; 
    line-height: 3;
 }
 nav>ul
 {
    list-style: none;
 }
 nav>ul>li
 {
    float: left;
    margin: 10px;
 }
 nav>ul>li>a
 {
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#777777;
    text-decoration: none;
    line-height: 1.3;   
 }
a:hover
{
    color: #4aaaa5;
}

#article
{
    font-size: 20px;
    height: 420px;
    width: 60%;
    color: #4aaaa5;
    background-color: #fff;
    margin-top: 40px;   
}

article
{
    border-bottom: 2px solid #dcdcdc;
    padding:20px;
    margin-right: 20px;
    margin-left: 20px; 
    width: 85%; 
}

#aside
{
    height: 180px;
    width: 33%;
    background-color: #fff; 
    float:right;
    margin-top: -420px;
}

#icons
{  
    margin-top: 20px;

}

.righth1
{
    font-size: 24px;
    height: 60px;
    width: 90%;
    color: #4aaaa5;
    line-height: 2.5;
    border-bottom: 2px solid #dcdcdc;
    margin-right: 20px;
    margin-left: 20px;
    
    
    
}

#leftp
{
   
    width: 93%;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman,serif;
    color:#777777;
    margin-left: 30px;
    text-align: left ;    
    margin-top:20px;     
}
#image
{
    margin-left: 20px;
    float: left;
}

footer
{
    background-color: #666666;
    margin-top: 40px;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    line-height: 4;
    width: 100%;
    
}

@media screen and (max-width:768px) 

{
    
  *
{margin:0;
padding: 0;}

body
 {

    background-image: url(../images/brickwall_@2X.png);
    font-family: 'Georgia', Times, Times New Roman, serif;      
 }
 #container
 {
    
    width:100%;
    
 }
 
 
 #head_container
 {
    background-color: #fff;
    margin:0 auto;
 }
 header,nav,#icons,.righth1
 {
    text-align: center;
 }
 #logo
 {
    float: left;
    color:#ffffff;
    font-size: 30px;
    background-color:#4aaaa5;
    width: 35%; 
    height: 40px;
    padding: 18px;
    margin-left: 70px;
}
 nav
 {
    float: right;
    margin-right: 40px; 
    line-height: 3;
 }
 nav>ul
 {
    list-style: none;
 }
 nav>ul>li
 {
    float: left;
    margin: 10px;
 }
 nav>ul>li>a
 {
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#777777;
    text-decoration: none;
    line-height: 1.3;   
 }
a:hover
{
    color: #4aaaa5;
}

#article
{
    font-size: 24px;
    height: 370px;
    width: 100%;
    color: #4aaaa5;
    background-color: #fff;
    margin-top: 40px;  
   
}

article
{
    border-bottom: 2px solid #dcdcdc;
    margin-right: 20px;
    margin-left: 20px; 
    width: 90%; 
    
}
 


#aside
    {
        width: 100%;
        margin-top: 20px;
        
        
    }

#icons
{  
    margin-top: 20px;
    background-color: #fff;
    text-align: left;
    margin-left:20px;

}

.righth1
{
    font-size: 24px;
    height: 70px;
    width: 90%;
    color: #4aaaa5;
    line-height: 2.5;
    border-bottom: 2px solid #dcdcdc;
    background-color: #fff;
    text-align: left;
    
    
    
}

#leftp
{
   
    width: 93%;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman,serif;
    color:#777777;
    margin-left: 30px;
    text-align: left ;    
    margin-top:20px;     
}
#image
{
    margin-left: 20px;
    
}

footer
{
    background-color: #666666;
    margin-top: 230px;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    line-height: 4;
    width: 100%;
    
    }
}
@media screen and (max-width:640px) 

{
    
  *
{margin:0;
padding: 0;}

body
 {

    background-image: url(../images/brickwall_@2X.png);
    font-family: 'Georgia', Times, Times New Roman, serif;      
 }
 #container
 {
    
    width:100%;
    
 }
 
 
 
 
 #logo
 {
    
    color:#ffffff;
    font-size: 30px;
    background-color:#4aaaa5;
    width: 100%; 
    height: 40px;
    margin-left: 0;

        
}
 nav
 {
    width: 100%;
    line-height: 3;
    margin-bottom: -80px;

    
 }
 nav>ul
 {
    list-style: none;
 }
 
 nav>ul>li>a
 {
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#777777;
    margin-left: 120px;

    
      
 }
a:hover
{
    color: #4aaaa5;
}

#article
{
    font-size: 24px;
    height: 770px;
    width: 100%;
    color: #4aaaa5;
    background-color: #fff;

      
   
}

article
{
    border-bottom: 2px solid #dcdcdc;
    margin-right: 20px;
    margin-left: 20px; 
    width: 100%;

    
}
 


#aside
    {
        width: 100%;
        margin-top: 20px;
        
        
    }

#icons
{  
    margin-top: 20px;
    background-color: #fff;
    text-align: left;
    margin-left:20px;

}

.righth1
{
    font-size: 24px;
    height: 70px;
    width: 90%;
    color: #4aaaa5;
    line-height: 2.5;
    border-bottom: 2px solid #dcdcdc;
    background-color: #fff;
    text-align: left;
    
    
    
}

#leftp
{
   
    width: 100%;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman,serif;
    color:#777777;
    margin-left: 30px;
    text-align: left ;    
    margin-top:20px;     
}
#image
{   
    margin-left: 20px;
    height: auto;
    
    
    
}

footer
{
    background-color: #666666;
    margin-top: 230px;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    line-height: 4;
    width: 100%;
    
    }
}












