*
{padding:0;
padding: 0;}
body
 {
  background-image: url(../images/brickwall_@2X.png);
  font-family: 'Georgia', Times, Times New Roman, serif;  
 }
#container
 {
  width:960px;
  
 }
#head_container::after,
 nav>ul ::after,
 footer::after
 {
  content: " ";
  display: block;
  clear: both;
 }
 #head_container
 {
  background-color: #fff;
  width: 960px;
  max-width:100%;
  margin:0 auto;
 } 
 header,nav,#icons,.righth1,
 {
  text-align: center;
 }
 
 #logo
 {
   float: left;
   color:#ffffff;
   font-size: 30px;
   background-color:#4aaaa5;
   width: 225px; 
   height: 50px;
   padding: 18px;
   margin-left: 140px;
   line-height: 1.5;
}
 nav
 {
   float: right;
   margin-right: 140px;
   position: relative;
 }
nav>ul
 {
   list-style: none;
  
 }
 nav>ul>li
 {
   float: left;
   margin: 15px;
 }
 nav>ul>li>a
 {
   font-size: 15px;
   color:#777777;
   text-decoration: none;
   line-height: 1.3;   
}
a:hover
{
  color: #4aaaa5;
}
#article
{
  height: 1400px;
  width: 34%;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 140px;
  

}
article
{
  border-bottom: 2px solid #dcdcdc;
  padding:5px;
  margin-left: 30px; 
  color: #4aaaa5; 
  font-size: 20px;
  
}

#aside
{
    height: 180px;
    width: 280px;
    background-color: #fff; 
    float:right;
    margin-top: -1400px;
  margin-right: 140px;
}

#icons
{  
    margin-top: 20px;
    margin-left: 40px;
}

.righth1
{
  font-size: 24px;
  height: 60px;
  color: #4aaaa5;
  line-height: 2;
  border-bottom: 2px solid #dcdcdc;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
    
}
#grid
{
  margin-left: 7px;
}

td
{
  padding: 25px; 
  float: left;
}

td>h3
{
  background-color: #4aaaa5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:20px;
  color: #ffffff;
  line-height: -2;
  margin-top: -70px;
  position: absolute;
  width: 250px;

}
tr
{
  padding-left: 20px;
  
}

#icons
{
  height: 70px;
  width: 230px:;
  text-align: center;
  margin-left: 10px;
  
}
footer
{
  background-color: #666666;
  margin-top: 40px;
  height: 70px;
  margin-right: -8px;
  margin-left: -8px;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  line-height: 4;
}

@media screen and (max-width:768px)
{
  *
{padding:0;
padding: 0;}
body
 {
  background-image: url(../images/brickwall_@2X.png);
  font-family: 'Georgia', Times, Times New Roman, serif;  
 }
#container
 {
  width:100%;
  margin:0 auto;
 }
#head_container::after,
 nav>ul ::after,
 footer::after
 {
  content: " ";
  display: block;
  clear: both;
 }
 #head_container
 {
  background-color: #fff;
  width: 100%;
  
 } 
 
 
 #logo
 {
   float: left;
   color:#ffffff;
   font-size: 30px;
   background-color:#4aaaa5;
   width: 225px; 
   height: 50px;
   padding: 18px;
   margin-left: 20px;
   line-height: 1.5;
}
 nav
 {
   float: right;
   margin-right: 20px;
   position: relative;
 }
nav>ul
 {
   list-style: none;
  
 }
 nav>ul>li
 {
   float: left;
   margin: 15px;
 }
 nav>ul>li>a
 {
   font-size: 15px;
   color:#777777;
   text-decoration: none;
   line-height: 1.3;   
}
a:hover
{
  color: #4aaaa5;
}
#article
{
  height: 850px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 20px;
  

}
article
{
  border-bottom: 2px solid #dcdcdc;
  padding:5px;
  margin-left: 30px; 
  color: #4aaaa5; 
  font-size: 20px;
  
}

#aside
{
    height: 180px;
    width: 100%;
    background-color: #fff; 
    margin-top: 20px;
    margin-right: -18px
}

#icons
{  
    margin-top: 20px;
    margin-left: -500px;
    
}

.righth1
{
  font-size: 24px;
  height: 60px;
  color: #4aaaa5;
  line-height: 2;
  border-bottom: 2px solid #dcdcdc;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
    
}
#grid
{
  margin-left: 7px;
}

td
{
  padding: 25px; 
  float: left;
}

td>h3
{
  background-color: #4aaaa5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:20px;
  color: #ffffff;
  line-height: -2;
  margin-top: -70px;
  position: absolute;
  width: 250px;

}
tr
{
  padding-left: 20px;
  
}


footer
{
  background-color: #666666;
  margin-top: 230px;
  height: 70px;
  margin-right: -8px;
  margin-left: -8px;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  line-height: 4;
}


}
@media screen and (max-width:640px)
{
  *
{padding:0;
padding: 0;}
body
 {
  background-image: url(../images/brickwall_@2X.png);
  font-family: 'Georgia', Times, Times New Roman, serif;  
 }
#container
 {
  width:100%;
  margin:0 auto;
 }
#head_container::after,
 nav>ul ::after,
 footer::after
 {
  content: " ";
  display: block;
  clear: both;
 }
 #head_container
 {
  background-color: #fff;
  width: 100%;
  
 } 
 
 
 #logo
 {
    color:#ffffff;
    font-size: 30px;
    background-color:#4aaaa5;
    width: 100%; 
    height: 40px;
    padding: 18px;
   margin-left:-10px;
    text-align: center;
}
 nav
 {
   width: 100%;   
  line-height: 1.8;
   margin-left: 10px;
  
 }
nav>ul
 {
   list-style: none;
    
  
 }
 
 nav>ul>li>a
 {
   font-size: 15px;
   color:#777777;
   text-decoration: none;
   line-height: 1.3;
   margin-left: 100px;
}
a:hover
{
  color: #4aaaa5;
}
#article
{
  height: 1400px;
  width: 50%;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 140px;
  

}
article
{
  border-bottom: 2px solid #dcdcdc;
  padding:5px;
  margin-left: 30px; 
  color: #4aaaa5; 
  font-size: 20px;
  
}

#aside
{
    height: 180px;
    width: 50%;
    background-color: #fff; 
    margin-top: 20px;
    margin-right: 150px;;
   
}

#icons
{  
    margin-top: 20px;
    margin-left: -30px;
    
}

.righth1
{
  font-size: 24px;
  height: 60px;
  color: #4aaaa5;
  line-height: 2;
  border-bottom: 2px solid #dcdcdc;
  
 
    
}
#grid
{
  margin-left: 7px;
}

td
{
  padding: 25px; 
  float: left;
}

td>h3
{
  background-color: #4aaaa5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:20px;
  color: #ffffff;
  line-height: -2;
  margin-top: -70px;
  position: absolute;
  width: 250px;

}
tr
{
  padding-left: 20px;
  
}


footer
{
  background-color: #666666;
  margin-top: 230px;
  height: 70px;
  margin-right: -8px;
  margin-left: -8px;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  line-height: 4;
}


}

